
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    padding-top: 80px;
}
.App.rtl{
    direction: rtl;
}
.navbarPages{
    direction: ltr;
}
.add {
    max-width: 420px;
    width: 100%;
    margin: 0px auto;
}

.add .submit{
    max-width: 100%;
    width: 120px;
    background-color: #228be6;
    color: white;
    border: none;
    display: block;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 34px;
}
.add .submit:hover{
    background-color: #1c7ed6;

}

.shopIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/*homepage*/
.homePage{
    
}
.tableUsers{
    min-width: 100%;
    overflow-x: auto;
}
.tableUsers table{
    min-width: 700px;
}
.table{

}
.btnTable{
   
display: flex;
align-items: center;
justify-content: flex-end;
gap: 10px;
}
.deletBtn{
    background-color: rgb(220 38 38);
}
.deletBtn:hover{
    background-color: rgb(185 28 28);
}
.ShowBtn{
    background-color: rgb(132 204 22);
}
.ShowBtn:hover{
    background-color: rgb(101 163 13);
}
.EditBtn{
    background-color: rgb(59 130 246);
}
.EditBtn:hover{
    background-color: rgb(37 99 235);
}
.rtl th{
    text-align: start;
}
.NewAddBtn{
    background-color: rgb(56 189 248); 
}
.logoutbtn{
    margin: 20px auto;
    display: block;
}
.mantine-Group-root label{
  padding: 0px 4px;
}
.add form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dateCreate{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.dateCreate label{}
.dateCreate input{
    border: 1px solid #ced4da;
    padding: 4px 8px;
    border-radius: 4px;
}
.show{}
.show .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.show .content .head{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.show .content .head img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #1c7ed6;
    background-color: #ced4da;
    object-position: top;
    object-fit: cover;
}
.show .content .head .info{
    flex: 1;
}
.show .content .head h2{
    font-size: 26px;
    margin-bottom: 0px;
}
.show .content .head h3{
    font-size: 18px;
color: #5b5b5b;
margin-bottom: 10px;
}
.show .content .head h4{
    font-size: 12px;
    color: gold;
    font-weight: bold;
    background-color: black;
    padding: 6px 8px;
    border-radius: 4px;
    width: fit-content;
}
.show .content  ul{
    width: fit-content;
}
.show .content  ul li{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 2px;
    border-bottom:1px solid #e9e9e9;
}
.show .content  ul li p{
    font-size: 16px;
    color: black;
    font-weight: 400;
    color: #4d4d4d;
   
}
