
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    user-select: auto !important;
}
.App {
    padding-top: 80px;
}
.App.rtl{
    direction: rtl;
}
.navbarPages{
    direction: ltr;
}
.add {
    max-width: 420px;
    width: 100%;
    margin: 0px auto;
}

.add .submit{
    max-width: 100%;
    width: 120px;
    background-color: #228be6;
    color: white;
    border: none;
    display: block;
    margin: auto;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 34px;
}
.add .submit:hover{
    background-color: #1c7ed6;

}

.shopIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
/*homepage*/
.homePage{
    
}
.tableUsers{
    min-width: 100%;
    overflow-x: auto;
}
.tableUsers table{
    min-width: 700px;
}
.table{

}
.btnTable{
   
display: flex;
align-items: center;
justify-content: flex-end;
gap: 10px;
}
.deletBtn{
    background-color: rgb(220 38 38);
}
.deletBtn:hover{
    background-color: rgb(185 28 28);
}
.ShowBtn{
    background-color: rgb(132 204 22);
}
.ShowBtn:hover{
    background-color: rgb(101 163 13);
}
.EditBtn{
    background-color: rgb(59 130 246);
}
.EditBtn:hover{
    background-color: rgb(37 99 235);
}
.rtl th{
    text-align: start;
}
.NewAddBtn{
    background-color: rgb(56 189 248); 
}
.logoutbtn{
    margin: 20px auto;
    display: block;
}
.mantine-Group-root label{
  padding: 0px 4px;
}